{% extends "base.html" %}
{% block title %} Change password {% endblock %}


{% block content %}
    <form>
        <table class="centered" style="width: 75%;">
            <tr>
                <td><span>Old password</span></td>
                <td class="fill"><input class="fill" type="password" name="old_password" id="old_password"></td>
            </tr>
            <tr>
                <td><span>New password</span></td>
                <td class="fill"><input class="fill" type="password" name="new_password" id="new_password"></td>
            </tr>
            <tr>
                <td><span>Confirm password</span></td>
                <td class="fill"><input class="fill" type="password" name="confirm_password" id="confirm_password"></td>
            </tr>
            <tr><td colspan="2" style="width: 100%;">
                <input type="submit" value="Change password">
            </td></tr>
        </table>
    </form>
{% endblock %}